<style>
    #nav {
        position: fixed;
        background-color: #2C3335;
        width: 100%;
        height: 50px;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
    }

    #navCompany {
        display: flex;
        justify-content: flex-start;
        width: 50%;
        margin-left: 20px;
        color: white;
    }

    #navCompany span {
        text-transform: uppercase;
        font-size: xx-large;
    }

    #navCompany #first {
        color: #E71C23;
    }

    #navCompany #second {
        color: white;
    }

    #navButton {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
    }

    #navButton span {
        text-transform: capitalize;
        color: white;
    }

    @media (min-width:320px) {

        /* smartphones, iPhone, portrait 480x320 phones */
        #navButton span {
            font-size: 16px;
            margin: auto 2px;
            padding: 5px;
        }
    }

    @media (min-width:481px) {

        /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
        #navButton span {
            font-size: 16px;
            margin: auto 2px;
            padding: 5px;
        }
    }

    @media (min-width:641px) {

        /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
        #navButton span {
            font-size: 16px;
            margin: auto 2px;
            padding: 5px;
        }
    }

    @media (min-width:961px) {

        /* tablet, landscape iPad, lo-res laptops ands desktops */
        #navButton span {
            padding: 8px;
            margin: auto 5px;
            font-size: 20px;
        }
    }

    @media (min-width:1025px) {

        /* big landscape tablets, laptops, and desktops */
        #navButton span {
            padding: 8px;
            margin: auto 5px;
            font-size: 20px;
        }
    }

    @media (min-width:1281px) {

        /* hi-res laptops and desktops */
        #navButton span {
            padding: 8px;
            margin: auto 5px;
            font-size: 20px;
        }
    }
</style>

<div id="nav">
    <div id="navCompany">
        <span id="first">
            Comp
        </span>
        <span id="second">
            any
        </span>
    </div>
    <div id="navButton">
        <span>
            home
        </span>
        <span>
            news
        </span>
        <span>
            profile
        </span>
    </div>
</div>