<link href="https://fonts.googleapis.com/css2?family=Spartan&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kreon:wght@700&display=swap" rel="stylesheet">
<style>
  #nav {
    position: fixed;
    background-color: #2C3335;
    box-shadow: 2px 2px 20px 0px black;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    transition: 0.4s;
  }

  #navCompany {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin-left: 20px;
    color: white;
  }

  #navCompany span ,#navHeading span{
    text-transform: uppercase;
    font-family: 'Kreon', serif;
    cursor: default;
  }

  #first {
    color: #E71C23;
  }

  #second {
    color: white;
  }

  #navButton {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }

  #navButton a {
    text-decoration: none;
  }

  #navButton span {
    text-transform: capitalize;
    color: white;
    cursor: default;
    font-family: 'Spartan', sans-serif;
  }

  #navButton span:hover,
  #navButton span:active {
    color: #E71C23;
  }

  @media (max-width: 319px) {

    /* Very small devices */
    #navButton span {
      font-size: 15px;
      padding: 0 3px;
    }

    #navCompany span,#navHeading span {
      font-size: 25px;
    }
  }

  @media (min-width:320px) {

    /* smartphones, iPhone, portrait 480x320 phones */
    #navButton span {
      font-size: 17px;
      padding: 0 5px;
    }

    #navCompany span,#navHeading span {
      font-size: 28px;
    }

  }

  @media (min-width:481px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    #navButton span {
      font-size: 18px;
      padding: 0 6px;
    }

    #navCompany span,#navHeading span {
      font-size: 30px;
    }

  }

  @media (min-width:641px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    #navButton span {
      font-size: 19px;
      padding: 0 7px;
    }

    #navCompany span,#navHeading span {
      font-size: 32px;
    }

  }

  @media (min-width:961px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    #navButton span {
      font-size: 20px;
      padding: 0 8px;
    }

    #navCompany span,#navHeading span {
      font-size: 35px;
    }
  }

  @media (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    #navButton span {
      font-size: 20px;
      padding: 0 8px;
    }

    #navCompany span,#navHeading span {
      font-size: 35px;
    }

  }

  @media (min-width:1281px) {

    /* hi-res laptops and desktops */
    #navButton span {
      font-size: 20px;
      padding: 0 8px;
    }

    #navCompany span,#navHeading span {
      font-size: 35px;
    }

  }
</style>

<div id="nav">
  <div id="navCompany">
    <span id="first">
      Comp
    </span>
    <span id="second">
      any
    </span>
  </div>
  <div id="navButton">
    <a id="homeL" href="/"><span>home</span></a>
    <a id="newsL" href="/news/"><span>news</span></a>
    {% if request.user.is_authenticated %}
    <a id="profileL" href="/account/"><span>{{ request.user.first_name }}</span></a>
    {% else %}
    <a id="profileL" href="/account/signup/"><span>sign up</span></a>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  var lastScrollTop = 0;
  window.addEventListener("scroll", function () {
    var st = window.pageYOffset || document.documentElement.scrollTop;
    var navBar = document.getElementById("nav");
    if (st > lastScrollTop) {

      navBar.style.top = "-60px";
    } else {
      navBar.style.top = "0px";
    }
    lastScrollTop = st <= 0 ? 0 : st;
  }, false);
</script>