<link href ="https://fonts.googleapis.com/css2?family=Spartan&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kreon:wght@700&display=swap" rel="stylesheet">
<style>
    body {
        width: 100vw;
        height: auto;
        background-color: #333945;
    }

    #alertBox {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        transition: 0.2s;
    }

    #profileL {
        display: none;
    }

    #content {
        width: 100%;
        position: absolute;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #container {
        width: fit-content;
        height: fit-content;
        padding: 15px 20px;
        background-color: #303536;
        text-align: center;
        color: white;
        border-radius: 4px;
        margin-top: 60px;
    }

    #container:hover,
    #container:focus-within {
        box-shadow: 1px 1px 12px 0px black;
        background-color: #2C3335;
        transform: scale(1.01);
    }

    #container::-moz-focus-inner {
        box-shadow: 1px 1px 12px 0px black;
        background-color: #2C3335;
        transform: scale(1.00001);
    }

    .innerForm {
        text-align: left;
    }

    .innerForm label {
        font-size: 20px;
        margin-bottom: 0;
        font-family: 'Spartan', sans-serif;
    }

    .innerInput {
        outline: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid grey;
        padding: 2px 5px;
        color: #ffffff;
        margin-left: 15px;
        font-size: 18px;
        font-family: 'Spartan', sans-serif;
    }

    .innerInputChange {
        border-bottom: 1px solid #ffffff;
    }

    .innerFormChange {
        color: #ffffff;
    }

    #container #head {
        color: #ffffff;
        font-size: 30px;
        margin-top: 10px;
        text-transform: uppercase;
        font-family: 'Kreon', serif;
    }

    #inputSubmit,.buttonStyle1 {
        background-color: #e64146;
        padding: 5px 10px;
        color: white;
        font-size: 17px;
        border: none;
        border-radius: 4px;
        margin: 10px 5px;
        line-height: initial;
        font-family: sans-serif;
    }

    #inputSubmit:hover,#inputSubmit:active,.buttonStyle1:hover,.buttonStyle1:active {
        background-color: #E71C23;
        padding: 6px 11px;
        margin: 9px 4px;
    }

    #foot {
        font-family: 'Spartan', sans-serif;
        font-size: 15px;
    }

    @media (max-width: 319px) {

        /*Very small devices ,*/
        .innerForm label {
            font-size: 16px;
        }

        #container #head {
            font-size: 24px;
        }

        #inputSubmit,
        .innerInput {
            font-size: 13px;
        }

        .innerInput {
            width: 160px;
        }

        #foot {
            font-size: 11px;
        }

    }

    @media (min-width:320px) {

        /* smartphones, iPhone, portrait 480x320 phones */
        .innerForm label {
            font-size: 17px;
        }

        #container #head {
            font-size: 25px;
        }

        #inputSubmit,
        .innerInput {
            font-size: 14px;
        }

        .innerInput {
            width: 180px;
        }

        #foot {
            font-size: 12px;
        }
    }

    @media (min-width:481px) {

        /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
        .innerForm label {
            font-size: 18px;
        }

        #container #head {
            font-size: 27px;
        }

        #inputSubmit,
        .innerInput {
            font-size: 15px;
        }

        .innerInput {
            width: 250px;
        }

        #foot {
            font-size: 13px;
        }
    }

    @media (min-width:641px) {

        /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
        .innerForm label {
            font-size: 19px;
        }

        #container #head {
            font-size: 29px;
        }

        #inputSubmit,
        .innerInput {
            font-size: 16px;
        }

        .innerInput {
            width: 250px;
        }

        #foot {
            font-size: 14px;
        }
    }

    @media (min-width:961px) {

        /* tablet, landscape iPad, lo-res laptops ands desktops */
        .innerForm label {
            font-size: 20px;
        }

        #container #head {
            font-size: 30px;
        }

        #inputSubmit,
        .innerInput {
            font-size: 17px;
        }

        .innerInput {
            width: 250px;
        }

        #foot {
            font-size: 15px;
        }
    }

    @media (min-width:1025px) {

        /* big landscape tablets, laptops, and desktops */
        .innerForm label {
            font-size: 20px;
        }

        #container #head {
            font-size: 30px;
        }

        #inputSubmit,
        .innerInput {
            font-size: 17px;
        }

        .innerInput {
            width: 250px;
        }

        #foot {
            font-size: 15px;
        }
    }

    @media (min-width:1281px) {

        /* hi-res laptops and desktops */
        .innerForm label {
            font-size: 20px;
        }

        #container #head {
            font-size: 30px;
        }

        #inputSubmit,
        .innerInput {
            font-size: 17px;
        }

        .innerInput {
            width: 250px;
        }

        #foot {
            font-size: 15px;
        }
    }
</style>