{% extends 'account/base.html' %}

  

{% block title %}
  LOG IN
{% endblock %}



{% block content %}
<div id="container">
  <div id="head">Log in</div>
  <form id="signupForm" action="." method="post">
    {% for field in form %}
    <br>
    <div class="innerForm">
      {{ field.errors }}
      {{ field.label_tag }} <br> {{ field }}
    </div>
    {% endfor %}
    {% csrf_token %}
    <input type="submit" id="inputSubmit" value="Submit">
  </form>
  <div id="foot">New user?<a href="/account/signup/">Sign up</a></div>
</div>
{% endblock content %}