{% extends "newsBlog/base.html" %}
{% load model_extras %}
<!--=====================TITLE==================-->
{% block title %}
{{ post.title }}
{% endblock title %}
<!--===================END TITLE=================-->
<!--======================CSS====================-->
{% block css %}
{% include css %}
{% endblock css %}
<!--====================END CSS===================-->
<!--======================JS====================-->
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
{% include js %}
{% endblock js %}
<!--====================END JS===================-->
<!--======================CONTENT====================-->

{% block content %}
<div id="container">
    <div id="postThumbnail">
        <img src="/media/{{post.thumbnail}}" alt="">
        <div id="after"></div>
    </div>
    <div id="innerContainer">
        <div id="postTitle">{{post.title}}</div>
        <div id="postAuthor">~by <span style="text-transform: capitalize;">{{ post.author }}</span>&nbsp;&middot;&nbsp;{{ post|time_difference }}</div>
        <div id="postBody">{{post.body}}</div>
    </div>
    <div id="comments">
        <div id="head">
            Comments
        </div>
        <div id="postComment">
            {% if request.user.is_authenticated %}
            <div>
                <div id="commentContainer">
                    <textarea onfocus="" id="newCommentInput" placeholder="Enter your comment"></textarea>
                    <div onclick="newCommentSend()" style="background-image: url(/media/assets/send.svg);background-size: 100%;background-repeat: no-repeat;"></div>
                </div>
            </div>
            {% else %}
            <div id="signinPrompt">
                Please &nbsp; <a href="/account/signin/" style="font-weight: bold;font-variant: small-caps;" target="_blank">sign in</a> &nbsp;to post comments!
            </div>
            {% endif %}
        </div>
        <hr style="height:1px;border-width:0;color:lightgray;background-color:lightgray">
        <div id="allComments">
            {% for comment in comments %}
            <div style="display:inline-block;margin-bottom: 5px;">{{ comment.name }}</div>
            <br><span style="color: lightgrey;">&emsp;&emsp;{{ comment.body }}</span><br>
            <hr style="height:1px;border-width:0;color:rgb(114, 114, 114);background-color:rgb(114, 114, 114)">
            {% empty %}
            No Comments
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
<!--====================END CONTENT===================-->
