<script>
    var csrftoken = Cookies.get('csrftoken');

    $(document).ready(function () {
        text = $("#postBody").html()
        // $("#postBody").html((new showdown.Converter()).makeHtml(text))
        var md = window.markdownit({
            html: true,
            linkify: true,
            typographer: true
        });
        md.use(window.markdownitEmoji);
        // md.use(window.markdownitSub);
        var result = md.render('' + text);
        $("#postBody").html(result)
    });

    $("#newCommentInput").focusin(function () {
        $(this).addClass("newCommentInputFocus");
    });

    $("#newCommentInput").focusout(function () {
        if ($(this).val().trim() == "") {
            $(this).removeClass("newCommentInputFocus");
        }
    });

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protectio
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function newCommentSend() {
        var newComment = $("#newCommentInput").val().trim();
        if (newComment != "") {
            var year = '{{post.publish.year}}'
            var month = '{{post.publish.month}}'
            var day = '{{post.publish.day}}'
            var slug = '{{post.slug}}'
            $.post('{% url "newsBlog:comment" %}', {
                    newComment: newComment,
                    year: year,
                    month: month,
                    day: day,
                    slug: slug,
                },
                function (recievedData) {
                    if (recievedData['status'] == 'ok') {
                        $("#allComments").load(window.location.href + " #allComments");
                        var newComment = $("#newCommentInput").val("");
                    }
                });
        }
    }
</script>