{% extends "newsBlog/base.html" %}

{% block css %}
	{% include css %}
{% endblock css %}

{% block title %}News{% endblock title %}
{% block content %}  
<div id="container">
	<div id="postList">
		<span class="heading">Latest</span>
		<div id="postContainer">
			{% for post in posts %}
				<div class="post">
					<div class="postTitle">{{ post.title|truncatewords:15 }}</div>
					<img class="postThumbnail" src="https://source.unsplash.com/WLUHO9A_xik">
				</div>
			{% endfor %}
		</div>
	</div>
	<div id="postTrending">
		<span class="heading">Trending</span>
	</div>
</div>
{% endblock %}

{% block extras %}
	<div id="postFilter">
		<div id="innerContainer">
			<div id="navHeading">
				<span id="first">Comp</span><span id="second">any</span>
			</div>
		</div>
	</div>
	<div id="filterTrigger">
		<div id="filterTriggerButton" onclick="filterTrigger('open')">
			<span>F</span><br>
			<span>I</span><br>
			<span>L</span><br>
			<span>T</span><br>
			<span>E</span><br>
			<span>R</span><br>
		</div>
	</div>
{% endblock extras %}	

{% block js %}
	{% include js %}
{% endblock js %}