<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>

<script>
	var filterIsOpened = false;
	function filterTrigger(command) {
		if (command=='open') {
			$('div#postFilter').css('width','200px');
			$('div#innerContainer').css('transform','rotateY(0deg)');
			$('div#filterTrigger').css('display','none');
			filterIsOpened = true;	
		} else if(command=='close'){
			$('div#postFilter').css('width','0px');
			$('div#innerContainer').css('transform','rotateY(-90deg)');
			$('div#filterTrigger').css('display','flex');
			filterIsOpened = false;	
		}
		
	}
	$('div#content').click(function(){
		if (filterIsOpened) {
			filterTrigger('close')
		}
	});

	
	$('div.post').hover(function(){
		var bodyText = $(this).children(".postBody");
		var titleText = $(this).children(".postTitle");
		titleText.css('transform', 'translateY(-100%)');
		
		setTimeout(function(){
			bodyText.css('transform', 'translateY(0%)');
		},250)
	},function(){
		var bodyText = $(this).children(".postBody");
		var titleText = $(this).children(".postTitle");
		bodyText.css('transform', 'translateY(100%)');
		setTimeout(function(){
			titleText.css('transform', 'translateY(0%)');
		},250)
		
	})
	
</script>