{% extends 'home/base.html' %}
{% block title %}
Company Name-HOME
{% endblock title %}
{% block css %}
{% include css %}
{% endblock css %}
{% block content %}
<div id="container">
    <!--===============GLOBAl LIST==============-->
    {% if globals %}
    <div class="postList">
        <span class="heading">Global</span>
        <div class="postContainer">
        	{% for post in globals %}
            <div class="post" onclick="document.location.href = '{{ post.get_absolute_url }}'">
                <div class="postTitle">{{ post.title|truncatewords:15 }}</div>
                <img class="postThumbnail" src="/media/{{ post.thumbnail }}">
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--=============END GLOBAl LIST==============-->

    <!--===============TECH LIST==============-->
    {% if techs %}
    <div class="postList">
        <span class="heading">Tech News</span>
        <div class="postContainer">
        	{% for post in techs %}
            <div class="post" onclick="document.location.href = '{{ post.get_absolute_url }}'">
                <div class="postTitle">{{ post.title|truncatewords:15 }}</div>
                <img class="postThumbnail" src="/media/{{ post.thumbnail }}">
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--=============END TECH LIST==============-->

    <!--===============GAMING LIST==============-->
    {% if gamings %}
    <div class="postList">
        <span class="heading">Gaming News</span>
        <div class="postContainer">
        	{% for post in gamings %}
            <div class="post" onclick="document.location.href = '{{ post.get_absolute_url }}'">
                <div class="postTitle">{{ post.title|truncatewords:15 }}</div>
                <img class="postThumbnail" src="/media/{{ post.thumbnail }}">
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--=============END GAMING LIST==============-->

    <!--===============ENTERTAINMENT LIST==============-->
    {% if entertainments %}
    <div class="postList">
        <span class="heading">Entertainment</span>
        <div class="postContainer">
        	{% for post in entertainments %}
            <div class="post" onclick="document.location.href = '{{ post.get_absolute_url }}'">
                <div class="postTitle">{{ post.title|truncatewords:15 }}</div>
                <img class="postThumbnail" src="/media/{{ post.thumbnail }}">
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--=============END ENTERTAINMENT LIST==============-->

</div>
<div class="postTrending">
    <span class="heading">Trending</span>
    <div class="postContainer">
        {% for post in techs %}
        <div class="post" onclick="document.location.href = '{{ post.get_absolute_url }}'">
            <div class="postTitle">{{ post.title|truncatewords:15 }}</div>
            <img class="postThumbnail" src="/media/{{ post.thumbnail }}">
        </div>
        {% endfor %}
    </div>
</div>

<script>
    document.onreadystatechange = () => {
        if (document.readyState === 'complete') {}
};
</script>

{% endblock content %}